<launch>   
  <!-- LiDARs -->
  <include file="$(find lidar)/launch/lidars.launch"/>

  <!-- LiDAR Merging -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find audio_feedback)/launch/config.rviz"/>
  <node pkg="lidar_merge" type="lidar_merge_node" name="merger" output="screen"/>
  <node pkg="lidar_merge" type="publish.py" name="publish_calibrated_transforms" output="screen"/>
  
  <!-- i2c and ultrasonics -->
  <node pkg="i2c" type="i2c_node" name="i2c_node" output="screen"/>
  <include file="$(find ultrasonic_detectors)/launch/object_detectors.launch"/>

  <!-- LiDAR Detection -->
  <node pkg="lidar" type="plane_detector" name="plane_detection" output="screen"/>
  
  <!-- aggregator and audio feedback -->
  <node pkg="audio_feedback" type="aggregator_node.py" name="aggregator" output="screen"/>
  <node pkg="audio_feedback" type="audio_feedback_node.py" name="audio_feedback" output="screen"/>
</launch>