<launch>
  <!--
    Delays start of all nodes except RViz. 
    Basically gives time for RViz to load before starting things
  -->
  <arg name="node_start_delay" default="5.0" />
   
  <include file="$(find cyglidar_d1)/launch/lidar.launch"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_merge)/launch/config.rviz"/>
  <node pkg="i2c" type="i2c_node" name="i2c_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node pkg="lidar_merge" type="lidar_merge_node" name="merger" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node pkg="lidar_merge" type="publish.py" name="publish_calibrated_transforms" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>